<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.visualnet.omomo"
    android:versionCode="18"
    android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="15" />

    <permission
            android:name="pl.visualnet.omomo.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="pl.visualnet.omomo.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <supports-screens android:xlargeScreens="false"
                      android:largeScreens="true"
                      android:normalScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"/>    
            
    <application android:name=".App"
                 android:label="@string/omomo_app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/Omomo">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAAc6mgvdQPE2Ap9sH1SgPlUUc1jNHBldM"/>

        <activity
                android:name=".ui.activity.LauncherActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:label="@string/omomo_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainListActivity"
                  android:screenOrientation="portrait"
                  android:label=""/>

        <activity android:name=".ui.activity.RepertoireDateTimeFilterActivity"
                  android:screenOrientation="portrait"
                  android:label="Wyszukiwanie"/>

        <activity android:name=".ui.activity.LocationListActivity"
                  android:screenOrientation="portrait"
                  android:label=""/>

        <activity android:name=".ui.activity.WebActivity"
                  android:screenOrientation="portrait"
                  android:label="Zakup biletów"/>

        <activity android:name=".ui.activity.EventActivity"
                  android:screenOrientation="portrait"
                  android:label="Wydarzenie"/>

        <activity android:name=".ui.activity.MapActivity"
                  android:screenOrientation="portrait"
                  android:label="Podgląd mapy"/>

        <activity android:name=".ui.activity.SettingsActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/omomo_action_settings" >

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activity.MainListActivity" />

        </activity>

    </application>

</manifest>
